__pycache__/
slurm*
.DS_Store
.idea/
*.ipynb_checkpoints/
*.egg-info
.vscode/combined.workspace.code-workspace
build
*code-workspace
logs
depth_analysis_2p/
v1_depth_map/sfn/
v1_depth_map/ucl_neuro_symp_2923/

